@tailwind base;
@tailwind components;
@tailwind utilities;

footer.footer.bg-base-200.text-base-content.p-10{
  padding: 40px;
}

footer aside{
  text-align: left;
}

div.fp-watermark {
  display: none;
}

#title-card-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.8s ease, top 0.8s ease, left 0.8s ease;
  transform-origin: top left;
}

#title-card-div.div-animate {
  top: 20px;
  left: 20px;
  transform: scale(0.4);
}



